{% extends "base.html" %}

{% block content %}
    <main class="main main--about">
        <p>
            Para quem não me conhece, chamo-me Eduardo, (Tarik para os amigos), não sou grande escritor,
            mas aprecio a tentação de escrever quando ela manifesta-se. Tenho 43 anos de idade e habito
            algures em Portugal. Ultimanente, (depois de concretizar um curso CET de programação) tenho
            vindo a assentar conhecimento na área que referi no último parêntese. Vou avançando aos poucos,
            conforme o tempo me permite.
        </p>

        <p>
            Trabalho com as tecnologias que permitem-me realizar o objectivo em causa. Penso que elas são
            ferramentas ao nosso dispor, e que o mais importante é dominar o problema que temos pela frente. Uma
            vez feito isso, penso que nos libertámos e tornamos mais autónomos.
        </p>

        <p>
            Como deve imaginar quem lê estes breves parágrafos sobre mim, há muito mais que não caberia aqui,
            sendo que esta página é suposta ser uma apresentação.
        </p>
    </main>
{% endblock %}